/* ------------------------------------------------- */
/* #2 - Infokarte - CSS Settings
/* ------------------------------------------------- */
/* - style of infobox
/* - 
/* - 
/* ------------------------------------------------- */




/* --------------------------------------------- */
/*  style of infobox
/* --------------------------------------------- */

/* infobox in td */
div.style-img-infobox {
   
    width: 360px;
}

/* header image */
.img-header-size { width: 100%; height: 210px;}


/* img-infobox content style */
div.stlye-img-info-contentblock { 

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

/* header h1 txt style */
h1.h1-img-infobox { 

    line-height: 1.5em;
    font-size: 1.2em;
    padding-bottom: .5em;
}



/* date div */
div.style-date-box { 

    /* put div to the right side */

    width: 100px;
    position: absolute;

    border-radius : 0px 0px 0px .9em;
    

    padding:.3em;
    
    background-color: var(--harvard-red);
    color:var(--white);
    

    text-align: center;
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}


/* span - date in p  */
span.style-mini-date { 
 
    font-weight: bold;
    font-size: .7em;
    background-color: var(--harvard-red);
    color: lightyellow;
    padding: .4em;
    margin-right: .5em;
}

/* font size in p */
p.p-img-ib-style { font-size: .9em;}










