/* ------------------------------------------------------------- */
/* Media Queries - Smartphones & Tablets 
/* ( from 1920px to smaller devices & in the end optional for 
/*   bigger sizes more in the middle )
/* ------------------------------------------------------------- */






/* --------------------------------------------------------------- */
/* <= 1500px width */
/* ( proto img little bit smaller ) */
/* --------------------------------------------------------------- */

/* if scrollbar is open then depends on browser 13 - 20px width (minus)*/
@media (max-width: 1517px) {

 

  
}




/* --------------------------------------------------------------- */
/* 860px <= 1200px */
/* ( 17px of scrollbar width chrome )*/
/* ( make 2.column layout )
/* --------------------------------------------------------------- */

@media (min-width: 873px) and (max-width: 1200px) {


    
  
}



/* --------------------------------------------------------------- */
/* 320px <= 859px */
/* ( make 1.column layout -> mobile devices )
/* --------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 872px) {



}



/* ------------------------------------------------------------- */
/* Media Queries - Dektops > 23 Zoll 
/* ------------------------------------------------------------- */

@media (min-width: 1921px) {

 
  
}


