/* ------------------------------------------------- */
/* STANDART CSS - WERTE  für Mobile Ansicht          */
/* ------------------------------------------------- */

/*:root -> beginnt ab <html> */
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

/* Standards für Moible - Ansichten setzen      */
/* ( später für Desktop nur per m.q anpassen )  */

/* Standard Grid - Layout ( 1.Spalte ) */
/* ( d.h x-Zeilen , 1.Spalte ) , ideal für Hochformat */
main#grid-bild-text {
    display: grid;
    grid-gap: 1em;
    background-color: white; }

/* (Hochformat) - unter Bild Abstand zum Text */
main#grid-bild-text > div > picture > img {
    margin-bottom: 0em; 
}
/* Text zum Bild einen angenehmeren Außenabstang */
main#grid-bild-text > div > p {
    padding-left:1em;
    padding-right:1em;
}


/* alle Bilder 100% Breite für den gegeben Platz */
/* ( nur die im grid-main-layout angehören ) */
main#grid-bild-text div > picture > img { width: 100%; display: block;}



/* ---------------------------------------------------------- */
/* MEDIA QUERIES - GRID - LAYOUT - Verhalten                  */
/* ---------------------------------------------------------- */



/* Bild 250px width wird geladen */
@media (max-width:250px) {
    main#grid-bild-text > div {
        background-color: red;
    }
}

/* Bild 320px width wird geladen ( 251px - 320px ) */
/* Bild 480px width wird geladen ( 321 - 520px )*/
@media (min-width:251px) and (max-width:600px) {
    main#grid-bild-text > div {
        background-color: lightskyblue;
    }
}


/* Layout - Text umfließt Bild */
@media (min-width:601px) and (max-width:930px) {

    main#grid-bild-text > div {
        background-color: yellow;
    }

    main#grid-bild-text > div > picture > img {
        float:left;
        width: 50%;
        /* Abstand zum umfließenden Text */
        padding-right: 1em;
        padding-bottom: 1em;
    }
}


/* Monitor 1920 x 1080 (skalliert 1/3) */
/* ( 2.Spaltenlayout fuer Monitor - Darstellung ) */

@media (min-width:931px) and (max-width:1080px) {

    /* Sauber Fließtextmodus beenden */
    main#grid-bild-text > div > picture > img {
        clear:left;
    }

    main#grid-bild-text > div {
        background-color: pink;
        /*reset altes grid - Layout */
        display: grid;
        grid: auto / 1fr 1fr;
    }

    main#grid-bild-text > div > p { 
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
   
}

/* Monitor 1920 x 1080 (skalliert 2/3) */
@media (min-width:1081px) and (max-width:1280px) {

    main#grid-bild-text > div {
        background-color: greenyellow;
        /*reset altes grid - Layout */
        display: grid;
        grid: auto / 1fr 2fr;
    }

    main#grid-bild-text > div > p { 
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}

/* Monitor 1920 x 1080 (skalliert 3/3) */
@media (min-width:1281px) and (max-width:1600px) {

    main#grid-bild-text > div {
        background-color: orange;
        /*reset altes grid - Layout */
        display: grid;
        grid: auto / 1fr 2.5fr;
    }

    main#grid-bild-text > div > p { 
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}

/* Monitor 1920 x 1080 (Fullscreen) */
@media (min-width:1601px) and (max-width:1920px) {

    main#grid-bild-text > div {
        background-color: lightgreen;
        /*reset altes grid - Layout */
        display: grid;
        grid: auto / 1fr 3fr;
    }

    main#grid-bild-text > div > p { 
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}

/* 27 Zoll - 1921px - 2560px  */
/* 32 Zoll - 2560px - 3840px  */
@media (min-width:1921px) and (max-width:3840px) {

    main#grid-bild-text > div {
        background-color: lightgreen;
        /*reset altes grid - Layout */
        display: grid;
        grid: auto / 1.5fr 4fr;
    }

    main#grid-bild-text > div > p { 
        display: flex;
        justify-content: center;
        align-items: center;  
    }
}

