
<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="UTF-8">

    <!-- --------------------------------------------------- -->
    <!-- FOR MOBILE VIEW DEVICES                             -->
    <!-- --------------------------------------------------- -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- --------------------------------------------------- -->
    <!-- FAVICONS                                            -->
    <!-- --------------------------------------------------- -->

  
    <link rel="apple-touch-icon" sizes="180x180" href="https://drive.google.com/uc?id=1gFhaQNu45nbh9wBItKEP231P6SFbX_Qf&export">
    <link rel="icon" type="image/png" sizes="32x32" href="https://drive.google.com/uc?id=1M36Ua_pbN3CztVrFdrRQv3td8XDn5eTk&export">
    <link rel="icon" type="image/png" sizes="16x16" href="https://drive.google.com/uc?id=15WtsxtC8U__g2gDAsaEZga__oCeqQvCP&export">
    

    <!-- --------------------------------------------------- -->
    <!-- CSS BINDINGS                                        -->
    <!-- --------------------------------------------------- -->
    
    
    <!-- CSS :root,body ( basics in document ) -->
    <link rel="stylesheet" href="css/root-body.css">


    <!-- CSS HEADER -->
    <link rel="stylesheet" href="css/header.css">
    

    <!-- CSS MAIN ( basics e.g main grid ) -->
    <link rel="stylesheet" href="css/main.css">
    
    <!-- CSS infobox 1  -->
    <link rel="stylesheet" href="css/infobox-1.css">

    <!-- CSS infobox 2  -->
    <link rel="stylesheet" href="css/infobox-2.css">


    <!-- CSS infobox 3  -->
    <link rel="stylesheet" href="css/infobox-3.css">


    <!-- CSS infobox 4  -->
    <link rel="stylesheet" href="css/infobox-4.css">


    <!-- CSS Media Queries  -->
    <link rel="stylesheet" href="css/media-queries.css">


    <title>CSS - Infocards</title>

</head> 


<body>

   
    <!-- ----------------------------------------------------------------- -->
    <!-- HEADER ( information about templates  )                           -->
    <!-- ----------------------------------------------------------------- -->
    
    <header title="Information about Template">

        <!-- ------------------------------------------------------------- -->
        <!-- Title - Infobox                                               -->
        <!-- ------------------------------------------------------------- -->
    
        <h1 class="header-title">
            <u>Infoboxes:</u> Different Art of Infoboxes & Styling
        </h1>

        <!-- ------------------------------------------------------------- -->
        <!-- Text - Infobox                                           -->
        <!-- ------------------------------------------------------------- -->
        <div class="header-infobox">
        
            <span class="header-topics">🔨 How to test it ?</span>
            <p class="p-pos-text-topics"> 
                Only for desktop view. It is Standard Web Responsive but not on the 
                perfect way, because its only for impression. The way to do it on the 
                perfect responsive way could be on every person a little bit different.
                It depends on the art of liking moving content on smaller devices.
            </p> 
            
            
            <span class="header-topics">⚙️ Features / Functions </span>
            <ul>
                <li>grid , flex & float techniques</li>
                <li>images sources will be loaded from google drive cloud</li>
            </ul>

        </div>


    </header>



    <!-- ----------------------------------------------------------------- -->
    <!-- MAIN ( positions of infoboxes by grid layout )                    -->
    <!-- ----------------------------------------------------------------- -->

     <!-- Grid Main Layout for infoboxes views -->
    <main id="grid-infoboxes" title="Different views of template infoboxes">



        <!-- ------------------------------------ -->
        <!-- #1 - infobox                         -->                            
        <!-- ------------------------------------ -->

        <!-- Grid - ( header , infobox-template ) - Layout -->
        <div class="grid-header-template" >


            <!-- ------------------------------------------- -->
            <!-- header infobox ( info , prototyp )          -->
            <!-- ------------------------------------------- -->
            <table>


                <!-- --------------------- -->
                <!-- Table - 1st Row       -->
                <!-- --------------------- -->
                <tr class="style-header-infobox">
                    <td>
                        <span class="style-header-it">#1 - Infobox </span>  - 
                        <span class="style-header-id">Feed , Blog entry by comment </span>
                    </td>
                </tr>

                
                <!-- --------------------- -->
                <!-- Table - 2nd Row       -->
                <!-- --------------------- -->
                <tr>

                    <td class="grid-proto">

                        <div> 

                            <div style="line-height: 2em;">Prototyp ➜ </div>
                            <div>Reality </div>
                            <div class="arrow-90deg"> ➜ </div>

                        </div>

                        <img src="https://drive.google.com/uc?id=18v-fDARqPNztu_vR9twS7YO9pstbZltE&export" class="img-proto-size" >
                        
                    </td>

                </tr>


                <!-- --------------------- -->
                <!-- Table - 3nd Row       -->
                <!-- --------------------- -->
                <tr class="row-3nd">

                    <td><b>Solution:</b> <i>table with 2 cols & float </i></td>

                </tr>


            </table>




            <!-- ------------------------------------------- -->
            <!-- template infobox                            -->
            <!-- ------------------------------------------- -->
            <table>

                <tr>
                    <td>

                        <!-- ------------------------------------------- -->
                        <!-- #1 - infobox - feed , blog entry by comment -->
                        <!-- ------------------------------------------- -->

                        <table class="style-infobox">

                            <!-- --------------------- -->
                            <!-- Table - 1st row       -->
                            <!-- --------------------- -->
                            <tr >

                                <td>

                                    <img src="https://drive.google.com/uc?id=1MhsxIrbtUmxpG7313BhcqTZzGpRCiRGB&export" class="img-etiket-size"> 
                                    
                                    <span class="style-i1-table-header"> New Development for our company - E-Mail Orbit Tool </span>

                                </td>

                                <td class="pos-i1-header-date"> 21.11.2021</td>
                            </tr>

                            <!-- --------------------- -->
                            <!-- Table - 2st row       -->
                            <!-- --------------------- -->
                            <tr>

                                <td colspan="2" class="style-i1-txt"> 
                                    Last evening was our finish
                                    time to our new E-Mail Orbit Tool
                                    Project. Nick and Julia worked hard 
                                    on it to do it. On the next week 
                                    they will do an 15. Minutes presentation. 
                                    If you like to learn more fundamental steps
                                    read more.  
                                </td>

                            </tr>

                            <!-- --------------------- -->
                            <!-- Table - 3st row       -->
                            <!-- --------------------- -->
                            <tr>
                                <td colspan="2" class="pos-readmore">
                                    
                                    <a href="https:heise.de" target="_blank"> 
                                        <div class="div-readmore"> ›› read more </div> 
                                    </a>

                                </td>

                            </tr>



                        </table>

            
                    </td>
                </tr>

            </table>

        
        </div>




        <!-- ------------------------------------ -->
        <!-- #2 - infobox                         -->                            
        <!-- ------------------------------------ -->

        <!-- Grid - ( header , infobox-template ) - Layout -->
        <div class="grid-header-template">


            <!-- ------------------------------------------- -->
            <!-- header infobox ( info , prototyp )          -->
            <!-- ------------------------------------------- -->
            <table>


                <!-- --------------------- -->
                <!-- Table - 1st Row       -->
                <!-- --------------------- -->
                <tr class="style-header-infobox">
                    <td>
                        <span class="style-header-it">#2 - Infobox </span>  - 
                        <span class="style-header-id">Feed , Blog entry with picture </span>
                    </td>
                </tr>

                
                <!-- --------------------- -->
                <!-- Table - 2nd Row       -->
                <!-- --------------------- -->
                <tr>

                    <td class="grid-proto">

                        <div> 

                            <div style="line-height: 2em;">Prototyp ➜ </div>
                            <div>Reality </div>
                            <div class="arrow-90deg"> ➜ </div>

                        </div>

                        <img src="https://drive.google.com/uc?id=1t-eJAvWAEiGCcx_d-SCiGqfkiHCu17hA&export" class="img-proto-size">
                        
                    </td>

                </tr>


                <!-- --------------------- -->
                <!-- Table - 3nd Row       -->
                <!-- --------------------- -->
                <tr class="row-3nd">

                    <td><b>Solution:</b> <i>big div & inside div, img , h1 structure </i></td>

                </tr>


            </table>




            <!-- ------------------------------------------- -->
            <!-- template infobox                            -->
            <!-- ------------------------------------------- -->
            <table>

                <tr>
                    <td style="display:flex; justify-content: center;">

                    
                        <!-- ------------------------------------------- -->
                        <!-- #2 - infobox  -->
                        <!-- ------------------------------------------- -->
                        <div class="style-img-infobox">

                            <div style="display: flex; justify-content: right; ">

                                <!-- Date Box in img header -->
                                <div class="style-date-box"> 22. - 23.12 </div>
    
                            </div>

                            <!-- Img header -->
                            <img src="https://drive.google.com/uc?id=1wuvxk0BnAqPZ7TDolUiCC1oDgnF1dmuA&export" class="img-header-size">


                            <!-- Content of img header infobox -->
                            <div class="stlye-img-info-contentblock" >

                                <h1 class="h1-img-infobox"> Harry Potter - Christmas Party 2024 🎄⛄🎉</h1>

                                <p class="p-img-ib-style"><span class="style-mini-date">[ 22.12. - 23.12 ] </span> - We invite u with lots of love to our 
                                    company christmas party in the art of harry 
                                    potter style. You can bring ur family , 
                                    friends and we want to spend time togehter
                                    to have fun , laugh, talks , drinking and foods. If 
                                    u like to visit please contact our organistor and tell 
                                    him how many person u want to bring.
                                </p>

                            </div>

                        </div>
                      
            
                    </td>
                </tr>

            </table>

        </div>




        <!-- ------------------------------------ -->
        <!-- #3 - infobox                         -->                            
        <!-- ------------------------------------ -->

        <!-- Grid - ( header , infobox-template ) - Layout -->
        <div class="grid-header-template">


            <!-- ------------------------------------------- -->
            <!-- header infobox ( info , prototyp )          -->
            <!-- ------------------------------------------- -->
            <table>


                <!-- --------------------- -->
                <!-- Table - 1st Row       -->
                <!-- --------------------- -->
                <tr class="style-header-infobox">
                    <td>
                        <span class="style-header-it">#3 - Infobox </span>  - 
                        <span class="style-header-id">Mini Dashboard Box - Server Monitoring </span>
                    </td>
                </tr>

                
                <!-- --------------------- -->
                <!-- Table - 2nd Row       -->
                <!-- --------------------- -->
                <tr>

                    <td class="grid-proto">

                        <div> 

                            <div style="line-height: 2em;">Prototyp ➜ </div>
                            <div>Reality </div>
                            <div class="arrow-90deg"> ➜ </div>

                        </div>

                        <img src="https://drive.google.com/uc?id=1UTDteX7-YwG1321wbfooOvIpW_j1nDG1&export" class="img-proto-bw-size">
                        
                    </td>

                </tr>


                <!-- --------------------- -->
                <!-- Table - 3nd Row       -->
                <!-- --------------------- -->
                <tr class="row-3nd">

                    <td><b>Solution:</b> <i>divs inside grid and floats - font size is extra small ; in live we need more width space</i></td>

                </tr>


            </table>




            <!-- ------------------------------------------- -->
            <!-- template infobox                            -->
            <!-- ------------------------------------------- -->
            <table>

                <tr>
                    <td>

                      
                        <!-- ------------------------------------------- -->
                        <!-- #3 - infobox - Mini Dashboard Box - Server Monitoring -->
                        <!-- ------------------------------------------- -->

                        <div class="style-infobox" id="grid-server">


                            <!-- #1 - mini infobox -->
                            <div>

                                <!-- color box -->
                                <div class="color-box color-yellow"></div>

                                <!-- mini infobox info -->
                                <div class="i3-info-content">

                                    <h1 class="h1-i3"> Linux Debian 15.03 ( 2018 )</h1>
                                    <div class="div-i3-infos">- running 127h ( b.n )</div>
                                    <div class="div-i3-infos">- 12 Z.P </div>
                                    <div class="div-i3-infos float-left" >- 128 TB / 1kTB free.S </div>
                                    <div class="div-i3-infos txt-bold mini-datebox"> 11.4.21</div>

                                </div>



                            </div>


                            <!-- #2 - mini infobox -->
                            <div>

                                <!-- color box -->
                                <div class="color-box color-red"></div>

                                <!-- mini infobox info -->
                                <div class="i3-info-content">

                                    <h1 class="h1-i3"> Red Hat 11 ( 2021 )</h1>
                                    <div class="div-i3-infos">- running 24h ( b.n )</div>
                                    <div class="div-i3-infos">- 5 Z.P </div>
                                    <div class="div-i3-infos float-left" >- 765 TB / 1kTB free.S </div>
                                    <div class="div-i3-infos txt-bold mini-datebox"> 11.4.21</div>

                                </div>


                            </div>


                            <!-- #3 - mini infobox -->
                            <div>

                                <!-- color box -->
                                <div class="color-box color-green"></div>

                                <!-- mini infobox info -->
                                <div class="i3-info-content">

                                    <h1 class="h1-i3"> Windows Server ( 2004 )</h1>
                                    <div class="div-i3-infos">- running 24h ( b.n )</div>
                                    <div class="div-i3-infos">- 0 Z.P </div>
                                    <div class="div-i3-infos float-left" >- 15 TB / 1kTB free.S </div>
                                    <div class="div-i3-infos txt-bold mini-datebox"> 11.4.21</div>

                                </div>


                            </div>

                            <!-- #3 - mini infobox -->
                            <div>

                                <!-- color box -->
                                <div class="color-box color-green"></div>

                                <!-- mini infobox info -->
                                <div class="i3-info-content">

                                    <h1 class="h1-i3"> Solaris 9.6 ( 2010 )</h1>
                                    <div class="div-i3-infos">- running 14h ( b.n )</div>
                                    <div class="div-i3-infos">- 2 Z.P </div>
                                    <div class="div-i3-infos float-left" >- 165 TB / 1kTB free.S </div>
                                    <div class="div-i3-infos txt-bold mini-datebox"> 11.4.21</div>

                                </div>


                            </div>


                        </div>



            
                    </td>
                </tr>

            </table>

        </div>




        <!-- ------------------------------------ -->
        <!-- #4 - infobox                         -->                            
        <!-- ------------------------------------ -->

        <!-- Grid - ( header , infobox-template ) - Layout -->
        <div class="grid-header-template grid-2-cols">


            <!-- ------------------------------------------- -->
            <!-- header infobox ( info , prototyp )          -->
            <!-- ------------------------------------------- -->
            <table>


                <!-- --------------------- -->
                <!-- Table - 1st Row       -->
                <!-- --------------------- -->
                <tr class="style-header-infobox">
                    <td>
                        <span class="style-header-it">#4 - Infobox </span>  - 
                        <span class="style-header-id">Feed , Blog entry with 2 persons </span>
                    </td>
                </tr>

                
                <!-- --------------------- -->
                <!-- Table - 2nd Row       -->
                <!-- --------------------- -->
                <tr>

                    <td class="grid-proto">

                        <div> 

                            <div style="line-height: 2em;">Prototyp ➜ </div>
                            <div>Reality </div>
                            <div class="arrow-90deg"> ➜ </div>

                        </div>

                        <img src="https://drive.google.com/uc?id=1RqqsNfNFLEtZa2TiTU45K626fUVVSLe8&export" class="img-proto-size">
                        
                    </td>

                </tr>


                <!-- --------------------- -->
                <!-- Table - 3nd Row       -->
                <!-- --------------------- -->
                <tr class="row-3nd">

                    <td><b>Solution:</b> <i>div & section boxes for grid , float left / right for pos </i></td>

                </tr>


            </table>




            <!-- ------------------------------------------- -->
            <!-- template infobox                            -->
            <!-- ------------------------------------------- -->
            <table class="style-infobox">

                <tr>
                    <!-- grid for responsive arts -->
                    <td>

                        <!-- ------------------------------------------- -->
                        <!-- #4 - infobox - 2 picutres -->
                        <!-- ------------------------------------------- -->

                        <!-- 2 person images -->
                        <div class="img-2per-contentbox">

                            <figure>
                                <img src="https://drive.google.com/uc?id=1ULAJDGoyfLVkljroE91EPJ7X1U7so11e&export" class="img-2per-size" alt="img">
                                <figcaption><span class="abb-img">Abb.:</span> David Döbele</figcaption>
                            </figure>
                            
                            <figure>
                                <img src="https://drive.google.com/uc?id=1Ch2Rz_WJWXeodfCHTriXNf0BH7sBloEI&export" class="img-2per-size" alt="img">
                                <figcaption><span class="abb-img">Abb.:</span> Niklas Steenfatt </figcaption>
                            </figure>

                        </div>


                        <!-- setction - text context -->
                        <section >

                            <h1 class="h1-sec"> Software Developer vs. BWL - Management Expert - The duel ⚔️ </h1>


                            <!-- date of context -->
                            <div class="sec-date"> 14.11.2021 </div>

                            <!-- text context -->
                            <div class="txt-i4-size">
                                <span class="txt-bold">[ Berlin ] </span>- The two Experts David Döbele ( Management Entrepeneur )
                                 and Niklas Steenfatt ( Facebook Software Developer ) are good colleagues 
                                 in the social media network in youtube and challenged each other in 
                                 their job perspecitives and area of their to does. <br>
                                 They made an youtube video where they talk about there Career and 
                                 how they made it . <br><br> 

                                 <span class="txt-bold">Niklas Steenfatt</span> 
                                 was talking on the beginning about his study on the university in hamburg
                                 where he studies bachelor of computer science. He loves the art of teaching in hamburg
                                 and his learning art was to learn with the smart learning concepts software tool anki.
                                 After his bachelor degree he went to oxford cambridge to do his master in mathematics. In 
                                 the last part of him he does some language country courses in france and spain before he 
                                 start to working by facebook in london.<br>

                                 <!-- table grafic -->
                                 <table class="sec-table float-right">
                                     <tr>
                                         <th colspan="3"> Facebook - Software Developer in London</th>
                                         <th>Entrepeneur - Financally Expert for comapnies</th>
                                     </tr>
                                     <tr>
                                         <td>Nr.</td>
                                         <td>year</td>
                                         <td>year income (€)</td>
                                         <td>year income (€)</td>
                                     </tr>

                                     <tr>
                                        <td>1</td>
                                        <td>1-2</td>
                                        <td>80.000</td>
                                        <td>55.000</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2-3</td>
                                        <td>100.000</td>
                                        <td>75.000</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>3-4</td>
                                        <td>150.000</td>
                                        <td>130.000</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>5-6</td>
                                        <td>220.000</td>
                                        <td>250.000 - 400.000</td>
                                    </tr>
                                 </table>

                                 <br>

                                 <span class="txt-bold">David Döbele</span> studied BWL - Managment on the university 
                                 in frankfurt und work 4 years for the big company of goldman sachs. After his bachelor degree
                                 he did his master in bwl economics on the harvard university in boston. Now he built 
                                 his own company where he and his team of 20 people help other company and startups in their
                                 financally way.<br>
                                 David Döbele say that for financally experts u can work in areas where u get lots of money
                                 for decisions that normaly people cant belive. The reason is that good decisions made on long 
                                 term more profit money so in the relation you can say its fair.
                                 
                            </div>

                            

                        </section>

            
                    </td>
                </tr>

            </table>

        </div>




    </main>

</body>    

</html>

