
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" sizes="180x180" href="https://drive.google.com/uc?id=1gFhaQNu45nbh9wBItKEP231P6SFbX_Qf&export">
    <link rel="icon" type="image/png" sizes="32x32" href="https://drive.google.com/uc?id=1M36Ua_pbN3CztVrFdrRQv3td8XDn5eTk&export">
    <link rel="icon" type="image/png" sizes="16x16" href="https://drive.google.com/uc?id=15WtsxtC8U__g2gDAsaEZga__oCeqQvCP&export">
    
    <link rel="stylesheet" href="style.css">
    <title>Grid - Img Comment Row ( Live )</title>
</head> 


<body>

    <!-- ----------------------------------------------------------------- -->
    <!-- HEADER                                                            -->
    <!-- ----------------------------------------------------------------- -->
    <header>

        <h1><u>Grid-Layout:</u> Img Comment Row - ( Live ) </h1>

        <!-- ------------------------------------------------------------- -->
        <!-- Info- box -->
        <!-- ------------------------------------------------------------- -->
        <div class="info-box">
        
            <span class="header-topics">🔨 How to test it ?</span>
            <p class="p-text-topics"> 
                Scale ur Web - Browser Page in different sizes and see what happend.
                If u are on Google Chrome Web - Browser / Firefox , u can
                right click -> investigate / ( in german: "untersuchen" ) and work with the 
                Web - Development - Tool of ur Browser to scale in more option ways.
            </p> 
            
            
            <span class="header-topics">⚙️ Features / Functions </span>
            <ul>
                <li>Responsive images with internet bandwidth performance ( load differents image files , HTML - srcset - Solution )</li>
                <li>The images are uploaded in my google drive cloud storage </li>
                <li>2 x Grid - Layouts:  1 x Mobile ( 1.col ) , 1 x Desktop ( 2.cols ) </li>
            </ul>

            </div>

    </header>



    <!-- ----------------------------------------------------------------- -->
    <!-- MAIN                                                              -->
    <!-- ----------------------------------------------------------------- -->

     <!-- Grid - Bild-Text - Layout -->
    <main title="Bilder Text Zeilen" id="grid-img-txt">

        <div>
            <!-- 1. Spalte , 1. Zeile  --> 
            <figure>

                <picture>
                    <source srcset="https://drive.google.com/uc?id=19vD7669EPADFIQjCo2xnRVu6fogscosn&export" media="(max-width:480px)" />
                    <source srcset="https://drive.google.com/uc?id=19T2eJqUzjpqWXMCUdbuN5Ld4I4tq8eER&export" media="(max-width: 600px)" />
                    <source srcset="https://drive.google.com/uc?id=1uLoz4cUL-Q7riUb4EVs-vK0n_E4gmPOG&export" media="(max-width: 920px)" />
                    <source srcset="https://drive.google.com/uc?id=1y7LBAIApGcKnrMxZjzUv5LZUNcl1NHbT&export" media="(max-width: 1000px)" />

                    <img src="https://drive.google.com/uc?id=1y7LBAIApGcKnrMxZjzUv5LZUNcl1NHbT&export" alt="Bild_Landschaft">

                    <figcaption><strong>Abb. 01 - </strong> Valley of Redwood City since 2019 ( July )</figcaption>

                </picture>

            </figure>

            <!-- 1. Spalte , 2.Zeile / 1. Zeile, 2. Spalte --> 
            <p>This was my last trip in the silicon valley where i meet bill gates and the ceo'os of 
                google company. They show me how they live and whats they do in their free time. One of
                the thing was to show me the beautiful valley place of silicon valley. U can drive by car, bicycle
                or motorbike but most of them they do it by motorbike because u can feel the air of entrepeuneur and 
                the mix of freedom and nature. This acutally picture was made at 9:30pm .This was my last trip in the silicon valley where i meet bill gates and the ceo'os of 
                google company. They show me how they live and whats they do in their free time. One of
                the thing was to show me the beautiful valley place of silicon valley. U can drive by car, bicycle
                or motorbike but most of them they do it by motorbike because u can feel the air of entrepeuneur and 
                the mix of freedom and nature. This acutally picture was made at 9:30pm .
                <span class="span-author"> 
                    <img src="https://drive.google.com/uc?id=1DuGl5GOc19EFGo91RNp3MwamdmRB2b7s&export" class="span-icon-message-author">
                    04.12.19 , nick123 </span>
            </p>

        </div>

        <div>
            <figure>
           
                <picture>
                    <source srcset="https://drive.google.com/uc?id=1J-IKpMrJwXMuxFnV1nq4ipFk8eSJluOo&export" media="(max-width:480px)" />
                    <source srcset="https://drive.google.com/uc?id=1wwpj1aWYXs_70xXfep5sE0qA18E61IPE&export" media="(max-width: 600px)" />
                    <source srcset="https://drive.google.com/uc?id=1wpzPeq31SHD8IcQcxfQe7x_GOZ6mWt95&export" media="(max-width: 920px)" />
                    <source srcset="https://drive.google.com/uc?id=1aO-yeD-WhNAYtB-zFkLy9vJ_jG-vG3Ma&export" media="(max-width: 1000px)" />

                    <img src="https://drive.google.com/uc?id=1aO-yeD-WhNAYtB-zFkLy9vJ_jG-vG3Ma&export" alt="Bild_Stone_Water">

                    <figcaption><strong>Abb. 02 - </strong> Canada Nature Park since 2019 ( October )</figcaption>

                </picture>

            </figure>

          
            <p>This was my trip to canada with my friends. We visit lots of beautiful places there.
                One of
                the thing was to show me the beautiful valley place of silicon valley. U can drive by car, bicycle
                or motorbike but most of them they do it by motorbike because u can feel the air of entrepeuneur and 
                the mix of freedom and nature
                One of
                the thing was to show me the beautiful valley place of silicon valley. U can drive by car, bicycle
                or motorbike but most of them they do it by motorbike because u can feel the air of entrepeuneur and 
                the mix of freedom and nature.
                <span class="span-author">
                    <img src="https://drive.google.com/uc?id=1DuGl5GOc19EFGo91RNp3MwamdmRB2b7s&export" class="span-icon-message-author">
                    14.12.19 , lisaXunicorn07 </span>
            </p>

        </div>


        <div>

            <figure>

                <picture>
                    <source srcset="https://drive.google.com/uc?id=14Smj2IzhenqiHhZpbhX6qkBtbMNhgwPY&export" media="(max-width:480px)" />
                    <source srcset="https://drive.google.com/uc?id=1CDyJ-FZPOM4sA45K89lTW1gMlH2jcYYS&export" media="(max-width: 600px)" />
                    <source srcset="https://drive.google.com/uc?id=1PZoyIeZ3xnKtdUqfPoutDM1P5oaQQxeF&export" media="(max-width: 920px)" />
                    <source srcset="https://drive.google.com/uc?id=1eySY81m4WZagStDq82Vp4YTpjKoeVJ1H&export" media="(max-width: 1000px)" />

                    <img src="https://drive.google.com/uc?id=1eySY81m4WZagStDq82Vp4YTpjKoeVJ1H&export" alt="Bild_Mond">

                    <figcaption><strong>Abb. 03 - </strong> Lovely Pictureshot of the moon since 2019 (November) </figcaption>

                </picture>

            </figure>
           
            <p>My moon night picture in canada. Here come some text what is only bla bla the thing was to show me the beautiful valley place of silicon valley. U can drive by car, bicycle
                or motorbike but most of them they do it by motorbike because u
                <span class="span-author">
                    <img src="https://drive.google.com/uc?id=1DuGl5GOc19EFGo91RNp3MwamdmRB2b7s&export" class="span-icon-message-author">
                    24.12.19 , peterChampion01 </span>
            </p>

        </div>

    
    </main>

</body>    

</html>

