
<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="UTF-8">

    <!-- --------------------------------------------------- -->
    <!-- FOR MOBILE VIEW DEVICES                             -->
    <!-- --------------------------------------------------- -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- --------------------------------------------------- -->
    <!-- FAVICONS                                            -->
    <!-- --------------------------------------------------- -->

  
    <link rel="apple-touch-icon" sizes="180x180" href="https://drive.google.com/uc?id=1gFhaQNu45nbh9wBItKEP231P6SFbX_Qf&export">
    <link rel="icon" type="image/png" sizes="32x32" href="https://drive.google.com/uc?id=1M36Ua_pbN3CztVrFdrRQv3td8XDn5eTk&export">
    <link rel="icon" type="image/png" sizes="16x16" href="https://drive.google.com/uc?id=15WtsxtC8U__g2gDAsaEZga__oCeqQvCP&export">
    

    <!-- --------------------------------------------------- -->
    <!-- CSS BINDINGS                                        -->
    <!-- --------------------------------------------------- -->
    
    
    <!-- CSS :root,body ( basics in document ) -->
    <link rel="stylesheet" href="css/root-body.css">


    <!-- CSS HEADER -->
    <link rel="stylesheet" href="css/header.css">
    

    <!-- CSS MAIN ( basics e.g main grid ) -->
    <link rel="stylesheet" href="css/main.css">
    
    <!-- CSS infobox 1  -->
    <link rel="stylesheet" href="css/infobox-1.css">

    <!-- CSS infobox 2  -->
    <link rel="stylesheet" href="css/infobox-2.css">


    <!-- CSS Media Queries  -->
    <link rel="stylesheet" href="css/media-queries.css">


    <title>CSS - Email Cards</title>

</head> 




<body>

    <!-- ----------------------------------------------------------------- -->
    <!-- HEADER ( information about templates  )                           -->
    <!-- ----------------------------------------------------------------- -->
    
    <header title="Information about Template">

        <!-- ------------------------------------------------------------- -->
        <!-- Title - Infobox                                               -->
        <!-- ------------------------------------------------------------- -->
    
        <h1 class="header-title">
            <u>E-Mail Info Cards:</u> Different Art of E-Mail Infocards
        </h1>

        <!-- ------------------------------------------------------------- -->
        <!-- Text - Infobox                                           -->
        <!-- ------------------------------------------------------------- -->
        <div class="header-infobox">
        
            <span class="header-topics">🔨 How to test it ?</span>
            <p class="p-pos-text-topics"> 
                Only for desktop view. It is Standard Web Responsive but not on the
                perfect way, because its only for impression. The way to do it
                on the perfect responsive way could be on every person a little
                bit different. It depends on the art of liking moving
                content on smaller devices.
            </p> 
            
            
            <span class="header-topics">⚙️ Features / Functions </span>
            <ul>
                <li>grid , flex & float techniques</li>
                <li>images sources will be loaded from google drive cloud</li>
            </ul>

        </div>


    </header>


    <!-- ----------------------------------------------------------------- -->
    <!-- MAIN ( grid layout for email infocards  )                         -->
    <!-- ( basic 3.col layout ) -->
    <!-- ----------------------------------------------------------------- -->

    <main id="grid-main" title="View area of E-Mail Info Cards">

       
       
       
       
        <!-- ------------------------------------ -->
        <!-- #1 - E-Mail Info Card                -->
        <!-- ------------------------------------ -->
        <div>
            
            <!-- ---------------------- -->
            <!-- Header Infobox         -->
            <!-- ---------------------- -->
            <div class="txt-bold">#1 - E-Mail Card Info</div>


            <!-- ---------------------- -->
            <!-- Prototyp Infobox       -->
            <!-- ---------------------- -->
            <div id="grid-proto">

                
                <!-- ---------------------- -->
                <!-- Proto/Real Text        -->
                <!-- ---------------------- -->
                <div>

                    <div>Prototyp ➜ </div>
                    <div>Reality </div>
                    <div class="trans-90deg">➜ </div>
                    
                    <!--<div class="trans-90deg"> ➜ </div>-->


                </div>

                <!-- ---------------------- -->
                <!-- Prototyp image         -->
                <!-- ---------------------- -->
                <div>
                   <img src="https://drive.google.com/uc?id=1Zt54K7_CoGhJHbTDgm3JtLgPh0M_9wXM&export" class="img-size-proto-basic" alt="img">
                </div>

            </div>

            <!-- ---------------------- -->
            <!-- Solution Infobox       -->
            <!-- ---------------------- --> 
            <div>

                <span class="txt-bold">Solution:</span>
                <span class="txt-cursiv">grid , div , float </span>

            </div>


            <!-- ---------------------- -->
            <!-- #1 - Email Infobox     -->
            <!-- ---------------------- -->
            <div class="size-email-card-1" >

            
                <!-- -------------------------- -->
                <!-- red main header            -->
                <!-- -------------------------- -->
                <div class="email-main-header-1" >

                    <img src="https://drive.google.com/uc?id=1AF7mSI_3GxMmSLmUsk9FjjCaTDzTZYcb&export" class="img-email-person" alt="img" >
                    <div class="pos-contact" > Contact </div>
                    <img src="https://drive.google.com/uc?id=1L1f3Rb42rC6qVE76ZUi6Bsxo8CHeHGWt&export" class="pos-email img-email" alt="img">

                </div>

             

                <!-- -------------------------- -->
                <!-- grey sub header            -->
                <!-- -------------------------- -->
                <div class="email-sub-header-1">
                    
                    <div class="trans-90deg"> » </div>

                </div>
                    
                   
                <!-- -------------------------- -->
                <!-- email contact area         -->
                <!-- -------------------------- -->
                <div class="email-content-1">
                   

                    <!-- -------------------------- -->
                    <!-- E-Mail - Name              -->
                    <!-- -------------------------- -->
                    <div class="email-title">
                        <span class="txt-bold">Prof. Dr. Dr. Mr. Grey</span>
                    </div>
                  

                    <!-- -------------------------- -->
                    <!-- E-Mail - Info to person    -->
                    <!-- -------------------------- -->
                    <div class="line-height-1-2 style-mini-email-content">
                    
                        <div>
                            <span class="email-info"> » C.E.O of Grey Company</span>
                        </div>

                        <div>
                            <span class="email-info"> » Financalist Expert</span>
                        </div>
                    
                    </div>
                   


                    <!-- -------------------------- -->
                    <!--  contact data Grid layout  -->
                    <!-- -------------------------- -->
                    <div class="grid-email-data">

                        <div >
                            <div><img src="https://drive.google.com/uc?id=1gljD69yK6vYfQy0c1YOMCUwRF6SIRvzy&export" class="img-mini-email-icon" alt="img"> </div>
                            <div>+ 49 - 174 - 143 - 3424</div>
                        </div>

                        <div>
                            <div><img src="https://drive.google.com/uc?id=1gfWyoCQr5KoP-lf_A4-EYsCROuK514tB&export" class="img-mini-email-icon" alt="img"> </div>
                            <div>+ 44 - (161) - 999 - 8888</div>
                        </div>
                  
                        <div>
                            <div><img src="https://drive.google.com/uc?id=1w1oHbciQJ6mq0miJQTAtthPAwH-JoJHu&export" class="img-mini-email-icon" alt="img"></div>
                            <div style="padding-bottom: .2em;">mrgrey-company@ai.com</div>
                        </div>

                    </div>

              
                    <!-- -------------------------- -->
                    <!-- E-Mail - adress data       -->
                    <!-- -------------------------- -->
                    <div class="adressbox-color line-height-1-2 txt-bold">
                    
                        <div>
                            
                            <span class="email-info"> •  SEATTLE - 98101</span>
                        </div>

                        <div>

                            <span class="email-info"> •  1808 Minor Ave Unit 905 ; Stock 22</span>
                                
                        </div>

                        <div>
                            <span class="email-info"> • Room: A.E. 12.a </span>
                        </div>
                    
                    </div>
                   
            
            
                </div> <!-- end of email contact area -->

            </div> <!-- end of email infobox -->

        </div> <!-- end of #1 email card info -->











        <!-- ------------------------------------ -->
        <!-- #2 - E-Mail Info Card                -->
        <!-- ------------------------------------ -->
        <div>
            
            <!-- ---------------------- -->
            <!-- Header Infobox         -->
            <!-- ---------------------- -->
            <div class="txt-bold">#2 - E-Mail Card Info</div>


            <!-- ---------------------- -->
            <!-- Prototyp Infobox       -->
            <!-- ---------------------- -->
            <div id="grid-proto">

                
                <!-- ---------------------- -->
                <!-- Proto/Real Text        -->
                <!-- ---------------------- -->
                <div>

                    <div>Prototyp ➜ </div>
                    <div>Reality </div>
                    <div class="trans-90deg">➜ </div>
                    
                    <!--<div class="trans-90deg"> ➜ </div>-->


                </div>

                <!-- ---------------------- -->
                <!-- Prototyp image         -->
                <!-- ---------------------- -->
                <div>
                   <img src="https://drive.google.com/uc?id=1UsCceu71E7BR4zqEfCuq-g0hffzVCQ0K&export" class="img-size-proto-big-width" alt="img">
                </div>

            </div>

            <!-- ---------------------- -->
            <!-- Solution Infobox       -->
            <!-- ---------------------- --> 
            <div>

                <span class="txt-bold">Solution:</span>
                <span class="txt-cursiv">grid , div , float </span>

            </div>


            <!-- ---------------------- -->
            <!-- #2 - Email Infobox     -->
            <!-- ---------------------- -->
            <div class="size-email-card-2" >

            
                <!-- -------------------------- -->
                <!-- red main header            -->
                <!-- -------------------------- -->
                <div class="email-main-header-2" >

                    <div class="style-main-header-2-contanct"> Contact </div>
                    <!--<img src="Unbenannt.PNG" class="img-email-person2" alt="img" >-->
                    

                </div>

             
                <!-- <img src="e.png" class="pos-email img-email" alt="img"> -->
     
                <!-- -------------------------- -->
                <!-- email contact area         -->
                <!-- -------------------------- -->
                <div class="email-content2 grid-email-infocard-2">
                   

                  <div>
                    <img src="https://drive.google.com/uc?id=1AF7mSI_3GxMmSLmUsk9FjjCaTDzTZYcb&export" class="img-email-person2" alt="img" >
                  </div>


                  <div>


                    <!-- -------------------------- -->
                    <!-- name of person             -->
                    <!-- -------------------------- -->

                    <div class="email-title">
                        <span class="txt-bold">Prof. Dr. Dr. Mr. Grey</span>
                    </div>

                    <!-- -------------------------- -->
                    <!-- info about person          -->
                    <!-- -------------------------- -->

                    <div class="line-height-1-5 style-mini-email-content">
                
                        <div>
                            <span class="email-info"> » Financalist Expert</span>
                        </div>
                
                    </div>


                    <!-- -------------------------- -->
                    <!-- contact data person        -->
                    <!-- -------------------------- -->

                    <div class="grid-email-data-2">

                        <div >
                            <div><img src="https://drive.google.com/uc?id=1gljD69yK6vYfQy0c1YOMCUwRF6SIRvzy&export" class="img-mini-email-icon" alt="img"> </div>
                            <div>+ 49 - 174 - 143 - 3424</div>
                        </div>

                        <div>
                            <div><img src="https://drive.google.com/uc?id=1gfWyoCQr5KoP-lf_A4-EYsCROuK514tB&export" class="img-mini-email-icon" alt="img"> </div>
                            <div>+ 44 - (161) - 999 - 8888</div>
                        </div>
                  
                        <div>
                            <div><img src="https://drive.google.com/uc?id=1w1oHbciQJ6mq0miJQTAtthPAwH-JoJHu&export" class="img-mini-email-icon" alt="img"></div>
                            <div style="padding-bottom: .2em;">mrgrey-company@ai.com</div>
                        </div>

                    </div>



                  </div>


                  <div>
                    <img src="https://drive.google.com/uc?id=1ynRdpb28FAYwmnOOz0yo_RMjq6v-_Tp8&export" class="img-email" alt="img">
                  </div>
                   


                  
              

               
                  
                   
                
            
                </div> <!-- end of email contact area -->

            </div> <!-- end of email infobox -->

        </div> <!-- end of #1 email card info -->


    </main>





</body>


</html>