/* ------------------------------------------------- */
/* CSS - STANDARDS for Desktop Views &               */
/* Def. 2 - Grids for Desktop & Mobile               */
/* ( Mobile View changes in media queries )          */
/* ------------------------------------------------- */

/* Web - Page default */
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}


/* All <img> in <pic.> block & max width */
picture > img { display: block; width: 100%; } 

/* delete basic margin of fig. */
figure{ margin: 0px;}

/* Image caption place */
figure > picture > figcaption {
    padding-top: .5em;
    padding-left: .3em;
    padding-right: .3em;
    font-size: .8em;
    font-style: italic;
}

/* <p> as txt modify for Desktop Views */
main > div > p {
   
    /* <p> distanc. minimalism */
    margin-top: .3em;
    margin-bottom: .3em;
    margin-left: .3em;
    margin-right: .5em;
}


.span-icon-message-author {
    /*svg - icon size */
    width: 1em;
    height: 1em;
    padding-right: .5em;
}


.span-author {
    /* center - rigt position*/
    display: flex;
    align-items: center;
    justify-content: right;

    padding: .8em;

    font-size: .8em;
    font-weight: bold;  
}

/* ------------------------------------------------ */
/* 2 x Grid - Layouts ( Mobile / Desktop - View )   */
/* ------------------------------------------------ */

/* ( Similiarities ) */
main#grid-img-txt , main#grid-img-txt > div {
    display: grid;
    background-color: lightskyblue;
}

/* Smartphone Layout - 1.col, x-rows */
main#grid-img-txt { row-gap: 1em; }
   
/* Desktop Layout - 2.col , x-rows */    
main#grid-img-txt > div {
   
    grid: auto / 1fr 1fr;
    column-gap: 1em;
}







/* ------------------------------------------------- */
/* MEDIA QUERIES ( Mobile , Desktop ) &              */
/* 3 x Media Queries - Smartphone / Tablets          */
/* 3 x Media Queries - Desktop , <= 23 Zoll          */
/* 1 x Media Queries - Desktop , >= 23 Zoll          */
/* ------------------------------------------------- */


/* ------------------------------------------------------------- */
/* Media Queries - Smartphones & Tablets 
/* ------------------------------------------------------------- */

/* Smartphones 180px - 520px , 1.col , x-rows */
@media (min-width: 180px) and (max-width: 520px) {
    
    main#grid-img-txt > div {
        /* reset basic grid (1fr 1fr)*/
        display: grid;
        /* 1.col , x-row */
        grid: auto / 1fr;
    }

    /* adjust p for smartphone */
    main#grid-img-txt > div p { 
        /* txt distance to img little bit bigger */
        margin-top: .8em;
    }
}

/* Small Tablets until Large Tablets 551 - 930px */
/* ( Text flowing around )*/
@media (min-width: 521px) and (max-width: 930px) {

    main#grid-img-txt > div {
        /*reset std. grid (1fr 1fr) to 1fr*/
        display: grid;
        grid: auto / 1fr;
        /* allow flow text in div */
        display: block;
    }
   
    main#grid-img-txt > div > figure > picture  {
        float:left;
        width: 50%;
        padding-right:1em;
        padding-bottom: .8em;
    }

    /* std. p-> flex , change to block for textflow image */
    main#grid-img-txt > div > p {  display: block; }


  
}


/* Large Tablets until larger scales (Desktops) 931 - 1080px */
/* ( 2.col widht relative width ) */
@media (min-width: 931px) and (max-width: 1080px) {

    /* float: left clean exit */
    main#grid-img-txt > div > picture > img { clear:left; }

    main#grid-img-txt > div { grid: auto / 1fr 1.5fr; }
  
}


/* ------------------------------------------------------------- */
/* Media Queries - Dektops <= 23 Zoll  
/* ------------------------------------------------------------- */

@media (min-width: 1081px) and (max-width: 1280px) {

    main#grid-img-txt > div { grid: auto / 1fr 2fr;  }
}


@media (min-width: 1281px) and (max-width: 1600px) {

    main#grid-img-txt > div { grid: auto / 1fr 3fr;  }

}


@media (min-width: 1601px) and (max-width: 1920px) {

    main#grid-img-txt > div { grid: auto / 1fr 3fr;  }

}

/* ------------------------------------------------------------- */
/* Media Queries - Dektops > 23 Zoll 
/* ------------------------------------------------------------- */

@media (min-width: 1921px) {

    main#grid-img-txt > div { grid: auto / 1.3fr 4fr;  }
  
}

