/* ---------------------------------------------------------- */
/* #10 - SPECIAL EFFECTS - Forms
/* ---------------------------------------------------------- */


/* Main Area where Nav Image City is inside */
div.special-10-pos {

    height: auto;
    width: 100%;
    height: 600px;

    background-color: var(--light2-grey);

    position: relative;
  
    color:black;

    padding-top:30px;
   
}



/* ---------------------------------------------------------- */
/* Basic Image Style
/* ---------------------------------------------------------- */

.flex-img-boxes {

   display: flex;
   justify-content: space-around;
   
   
}

/* container where img is inside */
.container-img { 

    width: 250px;
    height: 250px;
    
}

.img-effect { 

    max-width: 100%;
    max-height: 100%;
    display: block;

}





/* ---------------------------------------------------------- */
/* Effects of img 01 
/* ---------------------------------------------------------- */




/* ----------------------------------- */
/* flipping effect 
/* ----------------------------------- */

/* basic 3d effect view */
.flip-box {  

    width: 100%;
    height: 100%;
    perspective: 1000px; 

}


/* effect by flipping */
.flip-box-inner { 

    position: relative;
    width: 100%;
    height: 100%;
    /* time for transform */
    transition: transform 0.8s;
    /* rotate preverse , content not over head */
    transform-style: preserve-3d;
}


.front-side , .back-side {

    /* orient by flip-box-inner */
    position: absolute;

    width: 100%;
    height: 100%;

    /* window of element hidden */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    border: 3px solid black; 
}

/* default img unshown */
/*img[src="elon_600px.webp"] { visibility: hidden; } */

.front-side { 

    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(22,102,144,1) 100%);
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-side { 
    /* basic rotate is like unshown the last img */
    transform: rotateX(180deg); 
    position: relative;
    
}


.countdown-box {

    position: absolute;

    margin-left: 200px;
    

    width: 50px;
    height: 50px;

    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(22,102,144,1) 100%);
    color:white;

    display: flex;
    justify-content: center;
    align-items: center;

    

}



/* ----------------------------------- */
/* Shaking effect 
/* ----------------------------------- */

/* shake if u hover about memory deck card */
div.front-side:hover {

    animation: shake 0.5s;
    animation-iteration-count: infinite;

    cursor: pointer;

    box-shadow: 10px 5px 5px black;
}

/* shaking effect 0% till 100% handling */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }










/* ---------------------------------------------------------- */
/* Effects of img 02 
/* ---------------------------------------------------------- */

div.flex-img-boxes div.container-img:nth-child(2) , 
div.flex-img-boxes div.container-img:nth-child(3) {

    border: 3px solid black;
}


.flip-2 {

    width: 100%;
    height: 100%;
    perspective: 1000px;

}

.flip-2-inner {

    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}


/* same style */
.flip-img-2, .flip-txt-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-txt-2 {

    /* because only show if hover */
    transform: rotateX(180deg);

   
  }

  .flip-img-2 { 

    cursor: pointer;
  }

  .t-name {

    font-style: italic;
    font-weight: bold;

    margin-top: 28px;

  }

  .t-txt {

    font-size: .8em;
    padding-left:10px;
    padding-right:10px;

  }


  .flip-2:hover .flip-2-inner {
    transform: rotateX(180deg);
  }


/* ---------------------------------------------------------- */
/* Effects of img 03 
/* ---------------------------------------------------------- */